# Docker Compose development settings
# Use a unique project name when sharing a Docker daemon with other users.
COMPOSE_PROJECT_NAME=<compose-project-name>

APP_ENV=development
LOG_LEVEL=INFO

# Port exposed by the application container to the host system.
APP_PORT=<app-port>

# Get the user and group IDs of the host system to match file permissions inside the container.
# This can be obtained by running `id -u` and `id -g` on the host system.
APP_UID=<app-user-id>
APP_GID=<app-group-id>

# Port exposed by the PostgreSQL container to the host system.
POSTGRES_PORT=<postgres-port>
POSTGRES_PASSWORD=<postgres-password>

# Database connection URLs for the application and test databases. Replace the placeholders with the appropriate values from above.
DATABASE_URL=postgresql+asyncpg://dummy_hospital:<see POSTGRES_PASSWORD>@localhost:<see POSTGRES_PORT>/dummy_hospital
TEST_DATABASE_URL=postgresql+asyncpg://dummy_hospital:<see POSTGRES_PASSWORD>@localhost:<see POSTGRES_PORT>/dummy_hospital_test
